version: "2.4"
services:
  app:
    build:
      context: .
    env_file: .env
    working_dir: /app
    ports:
      - "8000:8080"
    volumes:
      - .:/app
  tests:
    image: ruby:2.7.2
    working_dir: /app
    volumes:
      - .:/app
    command: >
      sh -c "bundle install && bundler exec rake"
